@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1596614645097'); /* IE9 */
  src: url('iconfont.eot?t=1596614645097#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALUAAsAAAAABqQAAAKGAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBEIEcATYCJAMMCwgABCAFhG0HMxvfBREVjC2ynwV2a0fW01FmmvqseYhIMShLbQ2lSf//R/A8raXvz8xCgGcvCoB82AGiTc5eHEFJyKoKXSVI7rSsorABAgjIbm3KcG9UhGJJrhp8l2fkByt/IYyer9NVqkJWyBYzvM9zOb0JdCDzA53TbC4bY1N01AswDijQPTCKrIgS4oaxC1zCYwiQTrFG0l8NThJisFYJIIduZ40wl8VgWCNE8GsOGuQWj1CdKcBN+H35TXshKDyNtXF0e2CTbtfqOnTqNWXRJ8iBAI97gAYagQFZrq3OohHGadLdpr3TxyCouQqvr4S67vTtPzxQCIiP1Z8JQC2qKXCtrp56OqB513UNcHdGf28nZO0Fgli7cV49/f7kw0U09a5wJmh9l7KTb2felrRMoGqKl9+eJ6bfly98nMiOXdK+2OM47ihw7tj+i5LBRd95fvtqd+f+N+fE8Y79Z5NgqLzcxUlWsX5G56sIQOcpiwACn5aXPq7kXB7CDAPAl9HThzBs6F8LUcCMn2b0HDG6zYpoo+qubkY0K5VBAVR5gldWMt/38f7oxppCSDQiGVB0k/GQypQ0bCM8MuiET4i2C+ka1MczFGAxWRpQ7w0gcn2gZPsMLdeXNOwPnoQ/fLnFSDddwYUZqnOqj7ER7KF9geto0U5MVDR4RbNNDWdtIf9EXl0B8iQrNmpckOfYsu6mENGgmWaowHM4TQSeacBOEiviyzTVdW9KOpoDpQ9DDYF6oPUCnA5ZaH+yUKXPXyFjM2lwi6WmfEJs5WYHuUTWg6zdSy/Lvbyy2hkFITSgMTIDFZiHJhMCfP28AeqIhB1R9kqpPU73dSfre+fvOwWks27QKdFiMKdjiY58EAAAAA==') format('woff2'),
  url('iconfont.woff?t=1596614645097') format('woff'),
  url('iconfont.ttf?t=1596614645097') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1596614645097#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e733";
}

.icon-up:before {
  content: "\e730";
}

